@charset "utf-8";
/* CSS Document */
body{
	/*use of background image*/
	background: url("images/dogbg.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	}
#container{
	width:900px;
	margin:0 auto;
	}
header{
	width:100%;
	height: 100px;
	}
header h1 {
	font-family: filson-pro,sans-serif;
	/*use of web-font*/
	font-weight: 500;
	font-style: normal;
	font-size: 50px;
	/*center layout*/
	text-align: center;
	color: rgba(235,130,101,1.00);
	}
nav{
	width:100%;
	text-align: center;
	}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;	
	}
nav li{
	/*makes navigation bar horizontal*/
	display:inline;
	}
nav a:link {
  /*use of web-font*/
  font-family: filson-pro,sans-serif;
  color:rgba(235,130,101,0.75);
  text-decoration: none;
  margin-right: 30px;	
	}
nav a:visited {
	color:rgba(235,130,101,0.75);
	}
nav a:hover {
  color:#D3D3D3;
	}

nav a:active {
  text-decoration: underline;
	}

.left{
	width: 400px;
	/*use of float*/
	float:left;
	margin-top:30px;
	margin-bottom: 30px;
	}

.right{
	width: 400px;
	/*use of float*/
	float:left;
	margin-left: 30px;
	margin-top:30px;
	font-family: filson-pro,sans-serif;
	color:#696969;
	font-size: 15px;
	background-color: rgba(255,255,255,.75);
	}
footer{
	/*center layout*/
	text-align: center;
	/*use of clear*/
	clear:both;
	/*use of web-font*/
	font-family: filson-pro,sans-serif;
	font-size: 12px;
    color:#696969;
	padding: 10px;
	}
